@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
body {
    padding:0;
    width:auto;
    height: auto;
    box-sizing:border-box;
    background-image:linear-gradient(20deg, rgb(64, 138, 119) 10%, rgb(0, 255, 85) 90%);
}

#header{
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

#input{
    margin-left: 17%;
    width:50%;
    height:40px;
    font-size: 30px;
    background: linear-gradient(90deg, rgb(64, 138, 119) 20%, rgb(0, 255, 85) 100%);
}

::placeholder{
color: rgb(248, 233, 233);
opacity:1;
}

button{
    height:47px;
    width: 100px;
    font-size: 30px;
    font-weight: lighter;
    background-color: rgb(59, 156, 103);
}

button:hover, #input:hover{
background-color: chartreuse;
}

span{
    position: relative;
    padding: 30px;
    top: 30px;
    margin-left: 16%;
    color:rgb(88, 75, 75);
    font-size: 50px;
}
#intro{
    position: relative;
}

p{
    padding:20px 10px 20px 10px;
    width:auto;
    height: auto;
    background-color: rgb(59, 102, 59);
    color: lightgray;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

#img-div{
    background-color:rgb(59, 102, 59); 
width: auto;
height: auto;
padding: 20px 0px 20px 0;
text-align: center;
}

img{
display: inline-block;
vertical-align: middle;
}
 